.main{
	text-align: center;
	width: 100%;
	color: #3ABAEA;
}

.container{

	width: 75%;
	height: 800px;
	background-color: yellow;
	margin: 0 auto;
	color: white;
	text-align: center;


}

.header{
	width: 100%;
	height: 700px;
	background-color: green;
}
.menu{
	width: 75%;
	height: 100px;
	background-color: #C80201;
	float: left;

}
.logo{
	width: 25%;
	height: 700px;
	background-color: #000000;
	float: left;
}
.part_one{
	width: 37.5%;
	height: 300px;
	background-color: #FF7F00;
	float: left;
}
.part_two{


	width: 37.5%;
	height: 300px;
	background-color: #00A2FD;
	float: left;
}
.part_three{

	width: 75%;
	height: 300px;
	background-color: #D07A49;
	float: left;
}
.footer{

	width:100%;
	height:100px;
	background-color: #894D2B;
	float: left;
	text-align: center;
	color: #ffffff;

}
